{% extends 'index.html' %}

{% block title %} Список услуг {% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Список услуг</h1>
    <div class="row">
        {% if service %}
        {% for s in service %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ s.name }}</h5>
                    <p class="card-text">
                        Описание: {{ s.description|default:"Нет описания" }}<br>
                        Стоимость: {{ s.price }} руб.<br>
                        Продолжительность (час): {{ s.duration }}
                    </p>
                </div>

                <div class="card-footer text-center">
                    {% if user.is_staff %}
                        <a href="{% url 'service_update' s.id %}" class="btn btn-primary btn-sm">Редактировать</a> <br>
                        <a href="{% url 'service_delete' s.id %}" class="btn btn-danger btn-sm">Удалить</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p class="text-center text-muted">Услуги отсутствуют</p>
        {% endif %}
    </div>
    <div class="text-center mt-4">
        {% if user.is_staff %}
        <a href="{% url 'service_add' %}" class="btn btn-success">Добавить новую услугу</a>
        {% endif %}
    </div>
</div>
{% endblock %}