{% extends 'index.html' %}

{% block title %} Подтверждение визита {% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Подтверждение визита</h1>

    <div class="alert alert-success text-center" role="alert">
        <h4 class="alert-heading">Ваш визит успешно забронирован!</h4>
        <p>Спасибо за выбор наших услуг! Ваш визит успешно зарегистрирован. Вы получите уведомление перед визитом с подробностями.</p>
    </div>

    <div class="text-center mt-4">
        <a href="{% url 'visit_show_client' %}" class="btn btn-primary">Посмотреть мои визиты</a>
        <a href="{% url 'index' %}" class="btn btn-secondary">Вернуться на главную</a>
    </div>
</div>
{% endblock %}