.sticker{
    color: white;               /* Цвет текста белый */
    padding: 5px 10px;           /* Внутренний отступ */
    display: inline-block;       /* Чтобы элемент был только размером текста */
    background-color: #800080; /* Прозрачный фон */
    font-weight: bold;           /* Жирный текст */
}


.container {
            min-height: calc(100% - 56px);
}

.tab-content {
    display: flex; /* Используем flexbox для таблицы */
    justify-content: left; /* Центрируем содержимое */
    width: auto; /* Ширина будет автоматически определяться содержимым */
    flex-wrap: wrap; /* Позволяем переносить ячейки на новую строку */
    margin: 0 auto; /* Центрируем таблицу */
}

.tab-content li {
    display: flex;
    flex-direction: column; /* Вертикальное выравнивание элементов в ячейке */
    justify-content: space-between; /* Равномерное распределение элементов */
    padding: 10px;
    min-width: 250px; /* Устанавливаем минимальную ширину ячейки */
    max-width: 300px; /* Устанавливаем максимальную ширину ячейки */
    height: auto; /* Высота будет авто */
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Карточка растягивается на всю высоту ячейки */
}

.card-body {
    flex-grow: 1; /* Контент в body растягивается */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-title {
    min-height: 80px; /* Устанавливаем минимальную высоту для заголовка */
}

.rating, .card-text, .btn {
    margin-top: auto; /* Элементы будут на своем месте внизу карточки */
}

.tab-content li img {
    max-width: 100%;
    height: auto;
}

small {
    color: lightgray;
}

.right_info {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Центрируем по вертикали */
}

.rating {
    display: flex; /* Для расположения звезд в ряд */
}



.basket {

    padding: 50px 0; /* Отступы сверху и снизу для блока корзины */
}

.basket i {
    margin-right: 100px; /* Отступ справа для иконки */
}

.basket span {
    margin-left: 20px; /* Отступ слева для текста */
}

.basket i + span {
    margin-left: 100px; /* Отступ между иконкой и текстом */
}

.image-slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-image {
  width: 100%; /* Картинка будет адаптироваться по ширине */
  max-width: 500px;
  height: auto; /* Поддержка пропорций */
  object-fit: cover;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
}

.thumbnail:hover {
  border: 2px solid #007bff;
}

.right_info {
  margin-top: 20px;
}

.rating i {
  color: gold;
}
