<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% block title %}ВОЛГАТЕК - Парикмахерская {% endblock %}</title>
    <link rel="icon" href="https://volgtek.ru/upload/CNext/803/volgtek_site_logo.svg" type="image/png">

    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Подключение FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'script/update_time_regarding_date.js' %}"></script>
</head>
<body>
    <!-- Навигация -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{%  url 'index' %}">
                <img src="https://volgtek.ru/upload/CNext/803/volgtek_site_logo.svg" alt="ВОЛГТЕК" title="ВОЛГТЕК"
                     style="width: 150px; height: auto;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">

                    <!-- Ссылки на Залы и Услуги доступны всем зарегистрированным пользователям -->
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'hall_show' %}" style="font-size: 20px;">Залы</a>
                    </li>


                    {% endif %}

                    <!-- Условное отображение для клиентов -->
                    {% if request.user.is_authenticated and request.user.client %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'client_profile' %}" style="font-size: 20px;">{{ request.user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'visit_show_client' %}" style="font-size: 20px;">Мои посещения</a>
                    </li>
                    {% endif %}

                    <!-- Условное отображение для сотрудников -->
                    {% if request.user.employee %}
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'service_show' %}" style="font-size: 20px;">Услуги</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'employee_profile' %}" style="font-size: 20px;">{{ request.user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'visit_show_employee' %}" style="font-size: 20px;">История
                            посещения</a>
                    </li>
                    {% endif %}


                    <!-- Ссылки для администраторов -->
                    {% if user.is_staff %}
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'service_show' %}" style="font-size: 20px;">Услуги</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'employee_show' %}" style="font-size: 20px;">Все сотрудники</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'visit_show_admin' %}" style="font-size: 20px;"> Посещение клиентов</a>
                    </li>


                    {% endif %}

                     <!-- Ссылки для зарегистрированных пользователей -->
                    {% if user.is_authenticated %}
                    {% block exit %}
                    <li class="nav-item">
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="nav-link" style="font-size: 20px;">Выйти</button>
                        </form>
                    </li>
                    {% endblock %}

                    {% endif %}


                </ul>
            </div>
        </div>
    </nav>

    {% block content %}

    <!-- Основной контент -->

    <!-- Поиск -->
    <div class="container my-4">
        <form method="get" action="{% url 'index' %}">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Поиск по услугам" name="search"
                       value="{{ search_term }}">
                <button class="btn btn-primary" type="submit">Поиск</button>
            </div>
        </form>
    </div>

    <!-- Список сотрудников -->
    <div class="container mt-5">
        <div class="welcome-section">
            <h1 class="welcome-title">Добро пожаловать в парикмахерскую ВОЛГАТЕК!</h1>
            <p class="welcome-text">
                Мы рады видеть вас на нашем сайте! Здесь стиль встречается с профессионализмом,
                а индивидуальный подход — с творчеством.
            </p>
            <p class="welcome-text">
                <strong>Почему выбирают ВОЛГАТЕК?</strong><br>
                🌟 <em>Команда мастеров-профессионалов</em>: каждый из наших сотрудников обладает опытом,
                вдохновением и талантом.<br>
                🌟 <em>Широкий спектр услуг</em>: стрижки, окрашивание, укладки, уход за волосами —
                все, чтобы подчеркнуть вашу уникальность.<br>
                🌟 <em>Уютная атмосфера</em>: мы создаем пространство, где вы можете расслабиться и насладиться процессом.
            </p>
            <p class="welcome-text">
                <span class="welcome-highlight">Мы гордимся тем, что используем только дорогое и профессиональное оборудование</span>,
                которое гарантирует качество результата для каждого клиента.
                Кроме того, в нашей компании работают исключительно квалифицированные специалисты,
                прошедшие специализированные курсы переподготовки, организованные нашей компанией.
            </p>
            <p class="welcome-text">
                Записаться на услугу легко — просто выберите необходимую услугу, и мы с радостью позаботимся о вашем образе.
            </p>
        </div>
        <div class="container mt-5">
            <h2>Предоставляемые услуги</h2>
            <div class="row">
                {% for employee in employees %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ employee.user.get_full_name }}</h5>
                            <p class="card-text">Телефон: {{ employee.phone_number }}</p>
                            <p class="card-text">Должность: {{ employee.position }}</p>
                            <p class="card-text">Зал:
                                {% for hall in employee.halls.all %}
                                {{ hall.name }}
                                {% endfor %}
                            </p>
                            <p class="card-text">Услуга:
                                {% for service in employee.services.all %}
                                {{ service.name }}
                                {% endfor %}
                            </p>
                            <p class="card-text">Стоимость:
                                {% for service in employee.services.all %}
                                {{ service.price }}
                                {% endfor %}
                                руб.
                            </p>
                            <p class="card-text">Продолжительность:
                                {% for service in employee.services.all %}
                                {{ service.duration }}
                                {% endfor %} час

                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>

        {% endblock %}
    </div>


    <!-- Подвал сайта -->
    <footer class="bg-light text-center py-3">
        <p>&copy; {% now "Y" %} ВОЛГТЕК</p>
    </footer>



</body>
</html>