{% extends 'index.html' %}

{% block title %}
Профиль
{% endblock %}

{% block content %}
<div class="container mt-10">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Профиль</div>
                <div class="card-body">
                    <h5 class="card-title">Информация о пользователе</h5>
                    <p class="card-text">Ник: {{user.username}}</p>
                    <p class="card-text">Имя: {{user.first_name}}</p>
                    <p class="card-text">Фамилия: {{user.last_name}}</p>
                    <p class="card-text">Отчество: {{user_data.patronymic}}</p>
                    <p class="card-text">Дата рождения: {{user_data.date_of_birth |date:"d F Y"}}</p>
                    <p class="card-text">Адрес: {{user_data.address}}</p>
                    <p class="card-text">Пол: {{user_data.gender}}</p>
                    <p class="card-text">Интересы: {{user_data.interests}}</p>
                    <p class="card-text">Ссылка на ВК: {{user_data.url_vk}}</p>
                    <p class="card-text">Группа крови: {{user_data.blood_type}}</p>
                    <p class="card-text">Резус-фактор: {{user_data.Rh_factor}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}